.cta_company {
    margin-top: 83px;
}

.wysiwyg {

    &+ .item-banner {
        
        &_sm {
            margin-top: 50px;
        }

        &_lg {
            margin-top: 120px;
        }
    }
}

.certificate {
    display: inline-block;
    width: calc(100% + 20px);
    margin: 0 -10px;

    &__info,
    &__thumbnails {
        @extend .default-col-padding;
        float: left;
    }

    &__info {
        @extend .col-md-5;
    }

    &__thumbnails {
        @extend .col-md-7;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__description {
        font-size: 16px;
        line-height: 1.56;
        margin-bottom: 40px;
    }

    &__badge {
        display: inline-block;
        font-size: 12px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        height: 20px;
        padding: 4px 8px;
        line-height: 1;
        vertical-align: middle;
        margin-left: 10px;
    
        &_new {
            color: $white;
            background: $bright-sky-blue;
        }
    
        &_best-seller {
            color: $black;
            background: $sunflower-yellow
        }
    
        &_hot {
            color: $white;
            background: $bright-orange;
        }
    
        &_users-choice {
            color: $black;
            background: $light-green;
        }
    }

    .dropdown {
        margin-bottom: 30px;
    }

    .button_default {
        padding: 20px 50px;
        margin-right: 28px;
        float: left;
    }
}

.vertical-nav {

    &_company {
        //max-width: 200px;
        margin-top: 110px;
    }

    &__wrap {
        @extend .col-md-3;
        @extend .default-col-padding;
        float: left;
    }
}

.company__description {
    margin-top: 110px;
    margin-bottom: 110px;
    width: 100%;
    //@extend .col-md-9;
    //@extend .default-col-padding;
    float: left;
}

.promo__description {
    margin-top: 65px;
     margin-bottom: 60px;

    > .image {
        margin-top: 50px;
        margin-bottom: 64px;
    }

    .text-block {
        margin-bottom: 110px;
    }
}

.slider_recent-company-page {
    margin-top: 93px;
}

.p-wrap {
    max-width: 780px;
    margin: 0 auto;
}

.reviews {
    @extend .row;
    margin-bottom: 100px;

    &__col-7,
    &__col-5 {
        @extend .default-col-padding;
    }

    &__col-7 {
        @extend .col-lg-7;
        @extend .col-md-12;
    }

    &__col-5 {
        @extend .col-lg-5;
        @extend .col-md-12;
    }
}

@media (max-width: 820px) {
    .certificate {
        max-width: 700px;
        margin: auto;
        margin-top: 30px;
        display: block;

        &__info {
            padding: 0;
            width: 100%;
            max-width: 100%;
        }

        &__thumbnails {
            padding: 0;
            width: 100%;
            max-width: 100%;
        }

        .button_default {
            height: 60px;
        }
    }

    .company__description {
        margin-top: 0;
        margin-bottom: 0;
    }

    .product-cart-form {
        max-width: 100%;
    }
    
    .review {

        &__group {
            margin: auto;
            padding-bottom: 40px;
        }
    }
}

@media (max-width: 480px) {
    .certificate {
        padding: 0 15px;
        width: 100%;
    }

    .wysiwyg+.item-banner_lg {
        margin-top: 50px;
        margin-bottom: 0;
    }

    .promo__description {
        margin-bottom: 0;
        margin-top: 30px!important;
    }

    .slider_recent-company-page {
        margin-top: 50px;
    }
}