.company-contacts {
    max-width: 1200px;
    margin: 0 -10px;
    margin-bottom: 60px;
    width: calc(100% + 20px);
    display: inline-block;

    &__col-3,
    &__col-9 {
        @extend .default-col-padding;
        float: left;
    }

    &__col-3 {
        @extend .col-lg-3;
        @extend .col-md-5;
    }

    &__col-9 {
        @extend .col-lg-9;
        @extend .col-md-7;
    }

    .dropdown_district {
        margin-left: -20px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .company {

        &__share-friend {
            font-size: 12px;
        }

        &__phones {
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
}

.map {
    position: relative;
    background: $very-light-pink;
    border-radius: 5px;
    width: 100%;
    height: 460px;
    overflow: hidden;
    border: 1px solid #eee;

    &__marker {
        position: absolute;
        color: $warm-purple;
        font-size: 30px;
        height: 30px;
        width: 24px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

@media (max-width: 820px) {
    .company-contacts {
        max-width: 700px;
        margin: auto;
        display: block;
    }

    .map {
        height: 400px;
    }
}

@media (max-width: 480px) {
    .company-contacts {
        margin-top: 50px;
        display: inline-block;
        margin-top: 50px;
        width: 100%;
        
        h2 {
            margin-bottom: 0;
        }

        &__col-3 {
            padding: 0 15px!important;
            margin: 0 auto;
            float: none;
            margin-bottom: 30px;
        }

        &__col-3,
        &__col-9 {
            padding: 0;
        }
    }

    .map {
        height: 300px;
        border-radius: 0;
        border: none;
    }
}