.payment-address {
    margin: 0 -20px;
    width: calc(100% + 40px);
    border-radius: 22.5px;
    border: solid 1px $very-light-pink;
    padding-top: 43px;
    margin-bottom: 70px;
    
    &__wrap {
        max-width: 280px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    &__title {
        margin-bottom: 35px;
    }

    &__form {
        display: inline-block;
    }
}

@media (max-width: 820px) {
    .payment-address {
        max-width: 420px;
        margin: auto;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .payment-address {
        width: auto;
        margin: 0;
        max-width: 100%;
        border: none;
        padding: 0;

        &__wrap {
            margin-bottom: 20px;
        }
    }
}