.vertical-nav {

    li {
        margin-bottom: 48px;

        a {
            font-size: 18px;
            color: $black;
            position: relative;
        }

        &.done {

            a {
                
                &:after {
                    content: "\e903";
                    font-family: 'giver-icons' !important;
                    position: absolute;
                    font-size: 18px;
                    right: -38px;
                    top: 0;
                }
            }
        }

        &.current {
            
            a {
                color: $warm-purple;
                font-weight: 700;

                &:after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    background-color: $sunflower-yellow;
                    left: 0;
                    right: 0;
                    bottom: -6px;
                }
            }
        }

        &.disabled {

            a {
                color: $very-light-pink;
                pointer-events: none;
            }
        }
    }
}

@media (max-width: 820px) {
    .vertical-nav {
        text-align: center;

        &__wrap {
            padding: 0;
            width: 100%;
            max-width: 100%;
        }

        &_company {
            margin-top: 30px!important;
        }

        li {
           display: inline-block;
           margin-right: 30px;
           margin-bottom: 0;

            &.done a:after {
                font-size: 14px;
                right: -19px;
                top: 4px;
            }
        }
    }
}

@media (max-width: 420px) {
    .vertical-nav {
        width: 450px;

        &_company {
            text-align: center;
        }

        li {
           margin-right: 15px;
           margin-bottom: 15px;

            &.done {
                margin-right: 35px;

                a:after {
                    top: 2px;
                }
            }

            a {
                font-size: 16px;
            }
        }
    }
}