// Project colors
$white: #ffffff;
$warm-purple: #9128a0;
$warm-purple-second: #b74dc6;
$black: #000000;
$brown-grey: #b4b4b4;
$sunflower-yellow: #ffdc00;
$sunflower-yellow-second: #ffc600;
$sunflower-yellow-third: #fff000;
$bright-orange: #ff6400;
$very-light-pink: #e6e6e6;
$darkish-purple: #781982;
$bright-sky-blue: #00c8ff;
$light-green: #c7ff21;

// Socials colors
$facebook: #2f75ff;
$vk: #5981bb;